/* Font Face */
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/") format("woff2"),
    url("../fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --mainFont: "Red Hat Display", "Arial", sans-serif;
  --primaryFont: "Roboto", "Arial", sans-serif;
}

/* Umumiy */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--mainFont); /* Asosiy shrift */
  font-size: 16px; /* Barcha shriftlar uchun asosiy o'lcham */
  line-height: 1.5; /* O'qish qulayligi uchun qator balandligi */
  color: #222; /* Matn rangi */
  background-color: #f9f9f9; /* Fon rangi */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* main content */
.main-content {
  flex-grow: 1;
}

.active {
  color: #21232d !important;
}
.section-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.81px;
  color: #8643dc;
  margin-bottom: 27px;
  position: relative;
}
.section-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  background-color: #8643dc;
  bottom: -10px;
  left: 0;
}

.section-info {
  font-size: 36px;
  font-weight: 700;
  line-height: 47.63px;
  color: #25202f;
}

/* Media Queries yordamida Retina ekranlar uchun rasm aniqligini boshqarish" */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

/* header */
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  /* background-color: white; */
  backdrop-filter: blur(50px);
}

nav {
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-left {
  display: flex;
  align-items: center;
  gap: 100px;
}
.menu-left ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.46px;
}

.menu-left ul a {
  color: #666;
  text-decoration: none;
}

.menu .menu-img {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 20px 50px 0px #c6b9e94d;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */

/* hero section */

.hero-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-items-info {
  width: 400px;
}
.hero-items-info h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #666;
  margin-bottom: 20px;
}

.hero-items-info h2 {
  color: #25202f;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 20px;
}
.hero-items-info p {
  font-size: 24px;
  font-weight: 400;
  line-height: 31.75px;
  color: #25202f;
  margin-bottom: 50px;
}

.hero-items-info button {
  color: white;
  background-color: #8643dc;
  padding: 14px 48px;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.75px;
  border: none;
}
.hero-items-img {
  position: relative;
}
.hero-items-img::before {
  position: absolute;
  top: 200px;
  right: 100px;
  z-index: -10;
  content: "";
  width: 0px;
  height: 0px;
  box-shadow: 0 0 250px 100px #5af899b2, -350px 0 250px 100px #ff82cd,
    0 350px 250px 100px #ac6aff, -350px 350px 250px 100px #ffdf6c;
}

/* hero section */

/* service section */
#service {
  padding: 100px 0;
  
}

#service .section-info {
  margin-bottom: 50px;
}

.service-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.service-items-card p {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.card-top {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 22px;
}
.card-top span {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.75px;
  color: #25202f;
}

/* service section */

/* portfolio  section*/
#portfolio{
  background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
  padding: 50px 0;
}

.port-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.port-right {
  display: flex;
  align-items: center;
  gap: 10px;

}
.port-right h3{
font-size: 24px;
font-weight: 500;
line-height: 31.75px;
text-decoration-line: underline;


} 
.port-body {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 30px;
  flex-wrap: wrap;
}
.port-body img{
  flex: 1 1 calc((100% - 30px) / 2);
  max-width: calc((100% - 30px) / 2);
}





/* -----------------------medi query ------------- */


@media (max-width: 1024px) {
  .hero-items-info h2 {
    font-size: 50px;
  }
  .hero-items-info p,
  .hero-items-info h4,
  .hero-items-info button {
    font-size: 22px;
  }
  .hero-items .hero-items-img img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .hero-items {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  .hero-items-img {
    order: 1;
  }
  .hero-items-info {
    width: 100%;
    order: 2;
  }
  .service-items{
    grid-template-columns:  1fr 1fr;
  }
  .port-body img {
    max-width: 100%;
    flex:1 1 100%
  }
}
/* header media */
@media (max-width: 610px) {
  nav {
    position: relative;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .menu ul li {
    display: block;
  }
  .port-top{
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
}

@media (max-width: 480px) {
  .menu .menu-img {
    width: 50px;
    height: 50px;
  }
  .hero-items-info h4,
  .hero-items-info p {
    font-size: 18px;
  }
  .hero-items-info h2 {
    font-size: 40px;
  }
  .hero-items-info button {
    font-size: 18px;
  }
  .service-items {
    grid-template-columns: 1fr;
  }
  
}

/* header media */
