/* Font Face */
@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"),
    url("../fonts/RedHatDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/") format("woff2"),
    url("../fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --mainFont: "Red Hat Display", "Arial", sans-serif;
  --primaryFont: "Roboto", "Arial", sans-serif;
}

/* Umumiy */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--mainFont); /* Asosiy shrift */
  font-size: 16px; /* Barcha shriftlar uchun asosiy o'lcham */
  line-height: 1.5; /* O'qish qulayligi uchun qator balandligi */
  color: #222; /* Matn rangi */
  background-color: #f9f9f9; /* Fon rangi */
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* main content */
.main-content {
  flex-grow: 1;
}

.active{
  color: #21232D !important;
}

/* Media Queries yordamida Retina ekranlar uchun rasm aniqligini boshqarish" */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

/* header */

header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: white;
  /* backdrop-filter: blur(50px); */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-left {
  display: flex;
  align-items: center;
  gap: 100px;
}
.menu-left ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.46px;
}

.menu-left ul a{
  color: #666;
  text-decoration: none;
}

.menu  .menu-img{
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius:50% ;
  box-shadow: 0px 20px 50px 0px #C6B9E94D;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */

















/* -----------------------medi query ------------- */
/* header media */

@media (max-width:610px) {
  header {
    position: relative;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .menu ul li{
    display: block;
  }

}

@media (max-width:480px) {
  .menu .menu-img{
    width: 50px;
    height: 50px;
  }
}

/* header media */
